@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-display: "Urbanist", sans-serif;
	--breakpoint-3xl: 1920px;
	--color-primary: #00a7f3;
}

@layer base {
	html {
		font-family: var(--font-display);
	}
	body {
		background-color: #f7fafe;
		overflow-x: hidden;
	}
}
